.feynman__subtitle {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 1;
  }